<div class="container" id="create">
    <form id="create">
        <div class="row">
            <h4 class="text-center">Create Account:</h4>
        </div>
        <div class="row">
            <div class="four columns offset-by-four">
                <label>Email Address:</label>
                <input class="u-full-width" type="email" placeholder="username@mailserver.com" id="createEmail">
            </div>
        </div>
        <div class="row">
            <div class="four columns offset-by-four">
                <label>Create Password:</label>
                <input class="u-full-width" type="password" placeholder="Password" size="6" id="createPassword">
            </div>
            <div class="row">
                <div class="four columns offset-by-four">
                <label>Confirm Password:</label>
                <input class="u-full-width" type="password" placeholder="Password" size="6" id="confirmPassword">
            </div>
        </div>
        <div class="row">
            <div class="four columns offset-by-four">
                <label>Last Name:</label>
                <input class="u-full-width" type="password" placeholder="Last Name" id="createLastName">
            </div>
        </div>
        <div class="row">
            <div class="four columns offset-by-four">
                <label>First Name:</label>
                <input class="u-full-width" type="password" placeholder="First Name" id="createFirstName">
            </div>
        </div>
        <div class="row text-center">
            <div class="four columns offset-by-four">
                <input class="button-primary" type="submit" value="Submit" id="submit">
            </div>
        </div>
<!--        <div class="row">
            <div class="four columns offset-by-four">

            </div>
        </div>-->
    </form>
</div>