<br>
<div class="container" id="log">
    <form id="logData">
        <div class="row">
            <div class="four columns offset-by-four">
                <h4 id="name"></h4>
            </div>
        </div>
    </form>
</div>